/**
 * @file
 * Whelan panel layout
**/

.whelan-container {
  margin-bottom: 1em;
}

.whelan-column-content-region {
  min-height: 1px;
  width: 25.532%;
  float: left;
}

  .whelan-column-content-region-inner {
    margin-right: 20px;
  }

  .whelan-column2 {
    width: 23.404%;
  }
  
    .whelan-column2-inner {
      margin-right: 0;
    }
  
  .whelan-content {
    width: 51.064%;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .whelan-column-content-region,
  .whelan-column2,
  .whelan-content {
    width: 100%;
    float: none;
  }
  
  .whelan-column-content-region-inner {
    margin-right: 0;
  }
}

/* Make the folders content tables non-bordered */
.folders-column-content-region .table-bordered {
    border: none;
}
.folders-column-content-region .table-bordered > tbody > tr > td {
    border: none;
}