.content .panel-pane.pane-oa-folders-root-pane,
.content .panel-pane.pane-oa-folders-content-pane,
.content .panel-pane.pane-oa-folders-subfolder-pane {
  padding-bottom: 0px !important;
}
.content .panel-pane.pane-oa-folders-root-pane .view-empty,
.content .panel-pane.pane-oa-folders-content-pane .view-empty,
.content .panel-pane.pane-oa-folders-subfolder-pane .view-empty {
  border: 3px dashed #bbb;
  color: #bbb;
  padding: 75px 50px;
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
}
.content .panel-pane.pane-oa-folders-root-pane tr.odd,
.content .panel-pane.pane-oa-folders-content-pane tr.odd,
.content .panel-pane.pane-oa-folders-subfolder-pane tr.odd,
.content .panel-pane.pane-oa-folders-root-pane tr.even,
.content .panel-pane.pane-oa-folders-content-pane tr.even,
.content .panel-pane.pane-oa-folders-subfolder-pane tr.even {
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
}
.content .panel-pane.pane-oa-folders-root-pane tr.odd td,
.content .panel-pane.pane-oa-folders-content-pane tr.odd td,
.content .panel-pane.pane-oa-folders-subfolder-pane tr.odd td,
.content .panel-pane.pane-oa-folders-root-pane tr.even td,
.content .panel-pane.pane-oa-folders-content-pane tr.even td,
.content .panel-pane.pane-oa-folders-subfolder-pane tr.even td {
  border-top: 1px solid #ebebeb;
  border-left: 0;
  border-right: 0;
}
.content .panel-pane.pane-oa-folders-root-pane tr.even,
.content .panel-pane.pane-oa-folders-content-pane tr.even,
.content .panel-pane.pane-oa-folders-subfolder-pane tr.even {
  background-color: #fefefe;
}
.content .panel-pane.pane-oa-folders-root-pane .views-field-field-folder-toolbox,
.content .panel-pane.pane-oa-folders-content-pane .views-field-field-folder-toolbox,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-field-folder-toolbox {
  width: 170px;
  text-align: right;
}
.content .panel-pane.pane-oa-folders-root-pane .views-field-field-folder-toolbox a,
.content .panel-pane.pane-oa-folders-content-pane .views-field-field-folder-toolbox a,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-field-folder-toolbox a {
  color: #999;
  margin-left: 3px;
  font-size: 17px;
}
.content .panel-pane.pane-oa-folders-root-pane .views-field-field-folder-toolbox a:hover,
.content .panel-pane.pane-oa-folders-content-pane .views-field-field-folder-toolbox a:hover,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-field-folder-toolbox a:hover {
  text-decoration: none;
  color: inherit;
}
.content .panel-pane.pane-oa-folders-root-pane .views-field-title,
.content .panel-pane.pane-oa-folders-content-pane .views-field-title,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-title {
  font-weight: bold;
}
.content .panel-pane.pane-oa-folders-root-pane .views-field-title a,
.content .panel-pane.pane-oa-folders-content-pane .views-field-title a,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-title a {
  color: #555;
}
.content .panel-pane.pane-oa-folders-root-pane .views-field-filename a,
.content .panel-pane.pane-oa-folders-content-pane .views-field-filename a,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-filename a {
  color: #555;
}
.content .panel-pane.pane-oa-folders-root-pane .views-field-changed,
.content .panel-pane.pane-oa-folders-content-pane .views-field-changed,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-changed,
.content .panel-pane.pane-oa-folders-root-pane .views-field-timestamp,
.content .panel-pane.pane-oa-folders-content-pane .views-field-timestamp,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-timestamp,
.content .panel-pane.pane-oa-folders-root-pane .views-field-filesize,
.content .panel-pane.pane-oa-folders-content-pane .views-field-filesize,
.content .panel-pane.pane-oa-folders-subfolder-pane .views-field-filesize {
  font-size: 12px;
  color: #777;
  text-align: right;
}
.content .panel-pane.pane-oa-folders-root-pane table,
.content .panel-pane.pane-oa-folders-content-pane table,
.content .panel-pane.pane-oa-folders-subfolder-pane table {
  margin-bottom: -1px;
}
.content .panel-pane .views-field-filemime,
.content .panel-pane .views-field-nothing {
  color: #555;
  width: 20px;
  padding-right: 0;
}
.content .panel-pane .views-field-filemime a,
.content .panel-pane .views-field-nothing a {
  color: #555;
}
.content .panel-pane .views-field-filemime a:hover,
.content .panel-pane .views-field-nothing a:hover {
  text-decoration: none;
}
.content .panel-pane .views-field-filemime a .glyphicon,
.content .panel-pane .views-field-nothing a .glyphicon {
  font-size: 20px;
}
.oa-folders-filesize {
  font-size: 11px;
  color: #a8a8a8;
}
.pane-oa-folders-subfolder-outline .glyphicon {
  font-size: 20px;
}
.pane-oa-folders-subfolder-outline .item-list ul {
  margin: 0 !important;
}
.pane-oa-folders-subfolder-outline .item-list ul li {
  padding: 0;
  margin: 0;
}
.pane-oa-folders-subfolder-outline .item-list ul li a {
  font-weight: bold;
  display: block;
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
  padding: 8px;
  margin: 0;
  color: #555;
}
.pane-oa-folders-subfolder-outline .item-list ul li a.active {
  background: #eee;
  color: #444;
}
.pane-oa-folders-subfolder-outline .item-list ul li a.active .icon-folder-close:before {
  content: "\f07c";
}
.pane-oa-folders-subfolder-outline .item-list ul li a:hover {
  background: #f7f7f7;
  color: #444;
  text-decoration: none;
}
.pane-oa-folders-subfolder-outline .item-list ul li li a {
  padding-left: 30px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li a {
  padding-left: 60px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li a {
  padding-left: 90px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li a {
  padding-left: 120px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li a {
  padding-left: 150px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li a {
  padding-left: 180px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li li a {
  padding-left: 210px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li li li a {
  padding-left: 240px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li li li li a {
  padding-left: 270px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li li li li li a {
  padding-left: 300px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li li li li li li a {
  padding-left: 330px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li li li li li li li a {
  padding-left: 360px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li li li li li li li li a {
  padding-left: 390px;
}
.pane-oa-folders-subfolder-outline .item-list ul li li li li li li li li li li li li li li li a {
  padding-left: 420px;
}
li.dhtml-folder {
  position: relative;
}
.dhtml-menu a.dhtml-menu-icon {
  position: absolute;
  left: -22px;
}
.menu li.dhtml-folder.expanded {
  list-style-image: none !important;
}
.menu li.dhtml-folder.collapsed {
  list-style-image: none !important;
}
.menu li.dhtml-folder.expanded:before {
  background: url("images/plus_minus_icons.png") no-repeat 0px 0px;
  background-size: auto 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  content: " ";
  left: -26px;
  top: 0px;
}
.menu li.dhtml-folder.collapsed:before {
  background: url("images/plus_minus_icons.png") no-repeat -20px 0px;
  background-size: auto 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  content: " ";
  left: -26px;
  top: 0px;
}
