
.content {
  .panel-pane {
    &.pane-oa-folders-root-pane,
    &.pane-oa-folders-content-pane,
    &.pane-oa-folders-subfolder-pane {
      .view-empty {
        border: 3px dashed #bbb;
        color: #bbb;
        padding: 75px 50px;
        margin-top: 25px;
        font-size: 21px;
        text-align: center;
      }
      tr.odd, tr.even {
        background-color: #fafafa;
        border-bottom: 1px solid #f0f0f0;
        td {
          border-top: 1px solid #ebebeb;
          border-left: 0;
          border-right: 0;
        }
      }
      tr.even {
        background-color: #fefefe;
      }
      .views-field-field-folder-toolbox {
        width: 170px;
        text-align: right;
        a {
          color: #999;
          margin-left: 3px;
          font-size: 17px;
          &:hover {
            text-decoration: none;
            color: inherit;
          }
        }
      }
      .views-field-title {
        font-weight: bold;
        a {
          color: #555;
        }
      }
      .views-field-filename {
        a {
          color: #555;
        }        
      }
      .views-field-changed,
      .views-field-timestamp,
      .views-field-filesize {
        font-size: 12px;
        color: #777;
        text-align: right;
      }
      padding-bottom: 0px !important;
      table {
        margin-bottom: -1px;
      }
    }
    .views-field-filemime,
    .views-field-nothing {
      color: #555;
      width: 20px;
      padding-right: 0;
      a {
        &:hover {
          text-decoration: none;
        }
        color: #555;
        .glyphicon {
          font-size: 20px;
          // color: #888;
        }
      }
    }
  }
}

.oa-folders-filesize {
  font-size: 11px;
  color: #a8a8a8;
}

.pane-oa-folders-subfolder-outline {
  .glyphicon {
    font-size: 20px;
    // color: #888;
  }

  .item-list {
    ul {
      margin: 0 !important;
      li {
        padding: 0;
        margin: 0;
        a {
          font-weight: bold;
          display: block;
          background-color: #fafafa;
          border-bottom: 1px solid #ebebeb;          
          padding: 8px;
          margin: 0;
          color: #555;
          &.active {
            background: #eee;
            color: #444;
            .icon-folder-close:before {
              content: "\f07c";
            }
          }
          &:hover {
            background: #f7f7f7;
            color: #444;
            text-decoration: none;
          }
        }
        li a {                                        padding-left: 30px * 1; }
        li li a {                                     padding-left: 30px * 2; }
        li li li a {                                  padding-left: 30px * 3; }
        li li li li a {                               padding-left: 30px * 4; }
        li li li li li a {                            padding-left: 30px * 5; }
        li li li li li li a {                         padding-left: 30px * 6; }
        li li li li li li li a {                      padding-left: 30px * 7; }
        li li li li li li li li a {                   padding-left: 30px * 8; }
        li li li li li li li li li a {                padding-left: 30px * 9; }
        li li li li li li li li li li a {             padding-left: 30px * 10; }
        li li li li li li li li li li li a {          padding-left: 30px * 11; }
        li li li li li li li li li li li li a {       padding-left: 30px * 12; }
        li li li li li li li li li li li li li a {    padding-left: 30px * 13; }
        li li li li li li li li li li li li li li a { padding-left: 30px * 14; }
      }    
    }
  }
}

// div .panel-pane .pane-oa-folders-subfolder-pane {
//     padding-bottom: 0 !important;
// }

// .pane-oa-folders-subfolder-pane table {
//   margin-bottom: 0;
// }



li.dhtml-folder {
  position: relative;
}

.dhtml-menu a.dhtml-menu-icon {
  position: absolute;
  left: -22px;
}

.menu li.dhtml-folder.expanded {
  list-style-image: none !important;
}
.menu li.dhtml-folder.collapsed {
  list-style-image: none !important;
}

.menu li.dhtml-folder.expanded:before {
    background:url("images/plus_minus_icons.png") no-repeat 0px 0px;
    background-size: auto 100%;
    width:20px;
    height:20px;
    display:block;
    position:absolute;
    content: " ";
    left: -26px;
    top: 0px;
}

.menu li.dhtml-folder.collapsed:before {
    background:url("images/plus_minus_icons.png") no-repeat -20px 0px;
    background-size: auto 100%;
    width:20px;
    height:20px;
    display:block;
    position:absolute;
    content: " ";
    left: -26px;
    top: 0px;
}
